// positive spacers
@for $i from 0 through 12 {
  $space: $spacer * $i;

  // margin
  .mt-#{$i} {
    margin-top: $space !important;
  }
  .mr-#{$i} {
    margin-right: $space !important;
  }
  .ml-#{$i} {
    margin-left: $space !important;
  }
  .mb-#{$i} {
    margin-bottom: $space !important;
  }
  .mx-#{$i} {
    margin-left: $space !important;
    margin-right: $space !important;
  }
  .my-#{$i} {
    margin-top: $space !important;
    margin-bottom: $space !important;
  }
  .ma-#{$i} {
    margin: $space !important;
  }

  // padding
  .pt-#{$i} {
    padding-top: $space !important;
  }
  .pr-#{$i} {
    padding-right: $space !important;
  }
  .pl-#{$i} {
    padding-left: $space !important;
  }
  .pb-#{$i} {
    padding-bottom: $space !important;
  }
  .px-#{$i} {
    padding-left: $space !important;
    padding-right: $space !important;
  }
  .py-#{$i} {
    padding-top: $space !important;
    padding-bottom: $space !important;
  }
  .pa-#{$i} {
    padding: $space !important;
  }
}

// negative spacers
@for $i from 1 through 12 {
  $key: "n" + $i;
  $space: -$spacer * $i;

  .mt-#{$key} {
    margin-top: $space !important;
  }
  .mr-#{$key} {
    margin-right: $space !important;
  }
  .ml-#{$key} {
    margin-left: $space !important;
  }
  .mb-#{$key} {
    margin-bottom: $space !important;
  }
  .mx-#{$key} {
    margin-left: $space !important;
    margin-right: $space !important;
  }
  .my-#{$key} {
    margin-top: $space !important;
    margin-bottom: $space !important;
  }
  .ma-#{$key} {
    margin: $space !important;
  }
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
